.main-paises{
    margin: 0;
    padding: 0;
}    


.Breadcrumb-title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    color: var(--main-color);
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
}

.breadcrumb-subtitle{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    color: var(--main-color);
    font-size: 1.1rem;
    font-family: 'Poppins', sans-serif;
}

span{
    color: var(--segund-color);
}

.submit{
    position: relative;
    left: 60px; 
    width: 80%;
    margin-top: 50px;
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    color: var(--main-color);

}

.text-story{
    margin-top: 20px;
    position: relative;
    left: 100px;
    color: var(--main-color);
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    width: 80%;
}

.slider { 
    margin: 50px auto;
    width: 800px;
    height: 400px;
    overflow: hidden;
}

.slides {
    width: 400%;
    height: 400px;
    display: flex;
}

.slides input {
    display: none;
}

.slide{
    width: 25%;
    position: relative; 
    transition: 2s;
 }
 
 .slide img {
     width: 800px;
 }

.manual-navigation{
    position:absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: #fff;
}

#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -25%;
}
#radio3:checked ~ .first{
    margin-left: -50%;
}
#radio4:checked ~ .first{
    margin-left: -75%;
}

.navigation-auto div{
    border: 2px solid #20a6ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto{
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: #fff;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: #fff;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: #fff;
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: #fff
    ;
}

.container {
    width: 100%;
    margin-top: 50px;
    text-align: center;
    background-color: red;
    padding: 0;
    box-sizing: border-box;
}

h5 {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1.7rem;
    color: var(--segund-color);
    font-family: 'Poppins', sans-serif;
    
}

.info-box {
    background-color: #262626;
    padding: 20px 50px;
    width: 80%;
    border-radius: 10px 10px 0 0px;
    display: inline-block;
    text-align: left;
}

.info-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.label {
    color: var(--segund-color);
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
}

.value {
    color: #fff;
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
}

.img-icon {
    height: 20px;
    width: 20px;
}