
.Breadcrumb-title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    color: var(--main-color);
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
}

.breadcrumb-subtitle{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    color: var(--main-color);
    font-size: 1.1rem;
    font-family: 'Poppins', sans-serif;
}

span{
    color: var(--segund-color);
}

.submit{
    position: relative;
    left: 60px; 
    width: 80%;
    margin-top: 50px;
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    color: var(--main-color);

}

.text-story{
    margin-top: 20px;
    position: relative;
    left: 100px;
    color: var(--main-color);
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    width: 80%;
}

.slider { 
    margin: 50px auto;
    width: 800px;
    height: 400px;
    overflow: hidden;
}

.slides {
    width: 400%;
    height: 400px;
    display: flex;
}

.slides input {
    display: none;
}

.slide{
    width: 25%;
    position: relative; 
    transition: 2s;
 }
 
 .slide img {
     width: 800px;
 }

.manual-navigation{
    position:absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid var(--segund-color);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: var(--segund-color);
}

#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -25%;
}
#radio3:checked ~ .first{
    margin-left: -50%;
}
#radio4:checked ~ .first{
    margin-left: -75%;
}

.navigation-auto div{
    border: 2px solid #20a6ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto{
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: var(--main-color);
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: var(--main-color);
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color:var(--main-color);
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: var(--main-color);
}


h5 {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1.7rem;
    color: var(--main-color);
    font-family: 'Poppins', sans-serif;
}


.container-info-paises{
    width: 100%;
    text-align: center;
    padding: 0;
    padding-left: 20rem;
    padding-right: 20rem;
    box-sizing: border-box;
}

.info-box {
    background-color: #202020;
    padding: 20px 50px;
    width: 100%;
    border-radius: 10px 10px 0 0px;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
    text-align: left;
}

.info-item {
    background-color: #262626;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 10px;
    width: 48%; 
    box-sizing: border-box;
}

.label {
    color: var(--segund-color);
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 5px; 
}

.value {
    color: #fff;
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
}

.img-icon {
    position: relative;
    top: 5px;
    height: 25px;
    width: 25px;
}

#best-sellers-gap{
    padding-bottom: 100px;
}


@media (max-width: 1024px) {
    .Breadcrumb-title {
        font-size: 35px;
    }

    .slider {
        width: 600px;
        height: 300px;
    }

    .slide img {
        width: 600px;
    }

    .manual-navigation,
    .navigation-auto {
        width: 600px;
    }

    h5 {
        font-size: 1.5rem;
    }

    .container-info-paises {
        padding-left: 10rem;
        padding-right: 10rem;
    }

    .info-box {
        padding: 20px;
    }

    .info-item {
        width: 100%;
    }

    .label, .value {
        font-size: 1rem;
    }

    .img-icon {
        height: 20px;
        width: 20px;
    }

}


@media (max-width: 768px) {
    .Breadcrumb-title {
        font-size: 30px;
        margin-top: 80px;
    }

    .breadcrumb-subtitle {
        font-size: 1rem;
        margin-top: 5px;
    }


    .submit {
        left: 10px;
        font-size: 1.5rem;
        width: 90%;
    }

    .text-story {
        left: 10px;
        font-size: 0.9rem;
        width: 90%;
    }

    .slider {
        width: 100%;
        height: 200px;
    }

    .slides {
        height: 200px;
    }

    .slide {
        width: 100%;
    }

    .slide img {
        width: 400px;
    }

    #radio1:checked ~ .first {
        margin-left: 0%;
    }
    #radio2:checked ~ .first {
        margin-left: -34%;
    }
    #radio3:checked ~ .first {
        margin-left: -100%;
    }
    #radio4:checked ~ .first {
        margin-left: -300%;
    }

    .manual-navigation,
    .navigation-auto {
        width: 100%;
    }

    .navigation-auto {
        margin-top: 160px;
    }

    h5 {
        font-size: 1.3rem;
    }

    .container-info-paises {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .info-box {
        padding: 10px;
    }

    .info-item {
        width: 100%;
    }

    .label, .value {
        font-size: 0.9rem;
    }

    .img-icon {
        height: 18px;
        width: 18px;
    }
}